{% load static %}
<!doctype html>
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>TCC</title>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
</head>


<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="admin/">Acesso Sistema<span class="sr-only">(current)</span></a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tcc">TCC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="defesa">DEFESA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br>

{% for defesa in defesa %}
<div id="accordion">
  {% if  defesa.dt_df  >=  time  %}
  <div class="card">
    <div class="card-header" id="heading{{ defesa.id_df }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ defesa.id_df }}" aria-expanded="true" aria-controls="collapse{{ defesa.id_df }}">
         Tcc: {{ defesa.id_teste }}
        </button>
      </h5>
    </div>

    <div id="collapse{{ defesa.id_df }}" class="collapse" aria-labelledby="heading{{ defesa.id_df }}" data-parent="#accordion">
      <div class="card-body">
      <p>Sala: {{ defesa.id_sala_df }}</p>
      <p> Data e hora: {{ defesa.dt_df }}</p>
      <p>Localização: {{ defesa.id_sala_df.localizacao_sala }}</p>
      <p> Banca: {{ defesa.banca1_df }}</p> 
      <p>Banca: {{ defesa.banca2_df }}</p>
      <p>{{ time }}</p>

<!-- Criar Filtros para Visualização do Table-->

      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}

<!-- Footer -->
<!-- Footer -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



<script>
      $(document).foundation();
    </script>

    <script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>
