{% load static %}
<!doctype html>
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>TCC</title>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
</head>


<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">TCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="admin/">Acesso Sistema<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tcc">Meus TCC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sala TCC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br>
<article class="container">
<div class="text-center">

<a href="admin" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Acessar Sistema</a>
<a href="tcc" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Acesso Turmas de Tcc Atual</a>





</div>
</article>
<!-- Footer -->
<!-- Footer -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



<script>
      $(document).foundation();
    </script>

    <script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>
