{% load static %}
<!doctype html>
<html class="no-js" lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>TCC</title>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
</head>


<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="admin/">Acesso Sistema<span class="sr-only">(current)</span></a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tcc">TCC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="defesa">DEFESA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br>

  {% for Turma in turma %}
    {% if Turma.status_turma == "ATIVO" %}
  <div class="container">
  <div class="card text-white bg-primary mb-3 text-center">
    <div class="card-header">{{ Turma.nome_turma }} - {{ Turma.id_periodo_turma }}</div>
    <div class="card-body">
      <h5 class="card-title">Para acessar os alunos desta turma clique no botão abaixo </h5>
      <p class="card-text"></p>
  <button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-xl{{ Turma.id_turma }}">Visualizar Alunos</button>
    </div>
    <div class="card-footer text-muted">
    
    </div>
  </div>
  </div>
  <br>
    {% endif %}
  {% endfor %}


{% for Turma in turma %}
    {% if Turma.status_turma == "ATIVO" %}
      <div class="modal fade bd-example-modal-xl{{ Turma.id_turma }}" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
                         
<!-- Criar Filtros para Visualização do Table-->
<div class="m-3">
<div class="" style="overflow-x: scroll; overflow-y: hidden; width: 100%; white-space:nowrap;">
<table class="table table-sm table-hover">
  <thead>
    <tr class="thead-dark">
    <th scope="col">Aluno:</th>
      <th scope="col">Turma:</th>
      <th scope="col">Tema:</th>
      <th scope="col">Cursos:</th>
      <th scope="col">Orientador:</th>
      

    </tr>
  </thead>
  <tbody id="myTable">
    {% for tcc in tcc %}

  <tr>
        {% if  Turma.id_turma  == tcc.id_turma_tcc.id_turma  %}
    <td>
            {{ tcc.id_aluno_tcc }}
    </td>
      <td>
            {{ tcc.id_turma_tcc }}
     </td>
      <td>
            {{ tcc.tema_tcc }}
     </td>
      <td>
            {{ tcc.id_aluno_tcc.id_curso_aluno.nome_curso }}
      </td>

      <td>
            {{ tcc.orientador_tcc }}
  </td>
    </tr>
  </tbody>
        {% endif %}   
    {% endfor %}

</table>
    </div>
</div>

                          </div>
          </div>
      </div>

    {% endif %}
{% endfor %}




<!-- Footer -->
<!-- Footer -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



<script>
      $(document).foundation();
    </script>

    <script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>
